/* ========== 
Google Fonts 
========== */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ========== 
General Styles 
========== */

body {
    font-family: 'Roboto', sans-serif;
    color: #4f584b;
    background-color: rgba(217, 214, 210, 0.35);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* used for sticky footer */
main {
    flex: 1 0 auto;
}

.page-title {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #A6653F;
}

.page-title-responsive {
    font-size: 44px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #A6653F;
}

.page-subtitle {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #A6653F;
    font-size: 34px;
}

.helper {
    font-size: 16px;
}

.hyperlink {
    font-size: 16px;
    color: #778C2A;
}

.hyperlink:hover {
    color: #A6653F;
}

/* ========== 
Search Bar Styles
========== */

#search-query {
    color: #4f584b;
}

/* ========== 
Header & Navigation Styles 
========== */

nav {
    background-color: #778C2A;
}

.brand-logo {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #ffffff;
}

.brand-logo:hover {
    color: #A6BF49;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#side-logo {
    color: #778C2A;
}

.sidenav li a {
    color: #4f584b;
}

/* ========== 
Footer Styles 
========== */

.page-footer {
    background-color: #778C2A;
    color: #ffffff;
}

.footer-title {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    color: #ffffff;
}

.footer-title:hover {
    color: #A6BF49;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links a i {
    font-size: xx-large;
    color: #ffffff;
}

.social-links a i:hover {
    color: #A6BF49;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* ========== 
Button Styles 
========== */

.btn-large {
    background-color: #778C2A;
    color: #ffffff;
    font-family: 'Alegreya', serif;
    font-size: x-large;
}

.btn-large:hover {
    background-color: #A6653F;
}

.btn-delete {
    background-color: #A6653F;
    color: #ffffff;
    font-family: 'Alegreya', serif;
    margin: 5px;
}

.btn-delete:hover {
    background-color: #778C2A;
}

.btn-edit {
    background-color: #778C2A;
    color: #ffffff;
    font-family: 'Alegreya', serif;
    margin: 5px;
}

.btn-edit:hover {
    background-color: #A6653F;
}

/*Adds space above search buttons to vertically align*/
@media screen and (min-width: 768px) {

    .search-btns div {
        padding-top: 30px;
    }

}

.btn-jumbo {
    background-color: #778C2A;
    color: #ffffff;
    font-family: 'Alegreya', serif;
}

.btn-jumbo:hover {
    background-color: #A6653F;
}

/* ========== 
Flash Message Styles 
========== */

.flashes h4 {
    line-height: 2;
    color: #ffffff;
    font-family: 'Alegreya', serif;
    background-color: #A6653F;
    border-radius: 5px;
}

/* ========== 
Jumbotron Styles 
========== */

.jumbotron {
    height: 300px;
    background-image: url('../images/reports-page-jumbotron-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.jumbotron-content {
    z-index: 2;
    text-align: center;
}


/* ========== 
Icon Styles 
========== */

.why-icon {
    font-size: 24px;
}