{% extends "base.html" %}
{% block content %}

<!-- Page container used to provide buffer from navbar -->
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                
                <!-- Jumbotron to display image and overlay text -->
                <div class="jumbotron-about" title="Report and Protect">
                    <div class="overlay"></div>
                    <div class="container jumbotron-content">
                        <h1 class="white-text page-title-responsive">Report and Protect</h1>
                        <h3 class="white-text page-subtitle">with Eat Safe, Be Well - Your Partner in Food Safety.</h3>
                        <br>
                    </div>
                </div>

                <div class="card-content">
                    <p>"Eat Safe, Be Well" is a web application that provides numerous benefits for consumers in the UK.
                        The app allows consumers to report food safety incidents such as food poisoning or the discovery
                        of foreign bodies in food, thereby helping to protect other consumers. Reporting these incidents
                        can help identify trends in food safety issues, enabling government agencies to respond quickly
                        and implement necessary actions to prevent future incidents.
                        <br>
                        <br>
                        This app can also improve transparency and accountability in the food industry by allowing
                        consumers
                        to share their experiences with others. Additionally, by reporting incidents, consumers can
                        alert the
                        public to potential health hazards and encourage businesses to improve their food safety
                        practices.
                        Overall, "Eat Safe, Be Well" can enhance food safety for all and contribute to a healthier and
                        safer community.</p>
                </div>

                <div class="card-action center-align">
                    <div class="row justify-content-center text-center mt-4">
                        {% if session.user %}
                        <a href="{{ url_for('get_reports') }}" class="btn btn-jumbo waves-effect waves-light">Inspect
                            Reports</a>
                        {% else %}
                        <a href="{{ url_for('register') }}" class="btn btn-jumbo waves-effect waves-light">Register
                            Today</a>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}