<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Eat Safe-Be Well</title>
    <link rel="icon" type="image/x-icon" href="">
    <meta name="description" content="Eat Safe-Be Well is your go to place to report any food safety and quality issues you may experience">
    <meta name="keywords" content="food safety quality consumers brands fast food eat out takeaway restaurant supermarket convenience store food authenticity food integrity">
    <meta name="author" content="Eat Safe-Be Well">
</head>

<body>
    {% block content %}

    {% endblock %}
</body>

</html>